@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: "ADELIA";
    src: url("../public/fonts/ADELIA.otf");
}

@font-face {
    font-family: 'Poppins';
    font-style: "normal";
    font-weight: 200;
    font-display: swap;
    src: url('../public/fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: "normal";
    font-weight: 300;
    font-display: swap;
    src: url('../public/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: "normal";
    font-weight: 400;
    font-display: swap;
    src: url('../public/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../public/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: "normal";
    font-weight: 600;
    font-display: swap;
    src: url('../public/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: "normal";
    font-weight: 700;
    font-display: swap;
    src: url('../public/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-style: "normal";
    font-weight: 800;
    font-display: swap;
    src: url('../public/fonts/Poppins-ExtraBold.ttf');
}


h1, h2, h3, p, span, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


body {
    background: rgb(136,174,209);
background: linear-gradient(90deg, rgba(136,174,209,1) 0%, rgba(203,220,239,1) 35%, rgba(170,203,234,1) 100%);
}



@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
    }
    
    .slider-container {
        height: 110px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
        -webkit-mask-image: linear-gradient(to right, #0000, #000, #000, #0000);
    }
    
    .slider-container .slider-track {
        animation: scroll 20s linear infinite;
        display: flex;
        width: calc(250px * 18); 
       
       
    }
    
    .slider-container .slide {
        height: 110px;
        width: 250px;
        margin-right: 50px;
       
    }
    
    .slide img {
        background-size: contain;
        filter: grayscale(100%);
    }




